---
import Avatar from '@/components/Avatar.astro'
import { cn } from '@/lib/utils'
import type { Link as SocialLink } from '@/site'
import { type CollectionEntry, render } from 'astro:content'
import SocialIcons from './SocialIcons.astro'

type Props = {
  author: CollectionEntry<'authors'>
  linkDisabled?: boolean
}
const { author, linkDisabled = false } = Astro.props
const { name, avatar, github, twitter, linkedin, website, email } = author.data

const socialLinks: SocialLink[] = [
  website && { href: website, label: 'Website' },
  github && { href: github, label: 'GitHub' },
  twitter && { href: twitter, label: 'Twitter' },
  linkedin && { href: linkedin, label: 'LinkedIn' },
  email && { href: email, label: 'Email' },
].filter(Boolean) as SocialLink[]

const { Content } = await render(author)
---

<div class="overflow-hidden rounded-xl border p-4 hover:bg-secondary/10">
  <div class="flex flex-wrap gap-4">
    <a
      href={`/authors/${author.id}/`}
      class={cn('block', linkDisabled && 'pointer-events-none')}
    >
      <Avatar
        src={avatar}
        alt={name}
        height={128}
        width={128}
        class={cn(
          'size-32 rounded-md',
          !linkDisabled &&
            'transition-shadow duration-300 hover:cursor-pointer hover:ring-2 hover:ring-primary',
        )}
      />
    </a>
    <div class="flex flex-grow flex-col justify-between gap-y-4">
      <div>
        <div class="flex flex-wrap items-center gap-x-2">
          <h3 class="text-lg font-semibold">{name}</h3>
        </div>
        <article
          class="prose prose-sm prose-neutral col-start-2 max-w-none dark:prose-invert"
        >
          <Content />
        </article>
      </div>
      <SocialIcons links={socialLinks} />
    </div>
  </div>
</div>
