---
import Button from '@/components/Button.astro'
import { cn } from '@/lib/utils'
import type { Link } from '@/site'
import { Icon } from 'astro-icon/components'

interface Props {
  links: Link[]
  className?: string
}

const { links, className } = Astro.props

const iconMap = {
  Website: 'lucide:globe',
  GitHub: 'lucide:github',
  LinkedIn: 'lucide:linkedin',
  Twitter: 'lucide:twitter',
  Email: 'lucide:mail',
  RSS: 'lucide:rss',
}

const getSocialLink = ({ href, label }: Link) => ({
  href: label === 'Email' ? `mailto:${href}` : href,
  ariaLabel: label,
  iconName:
    iconMap[label as keyof typeof iconMap] || 'lucide:message-circle-question',
})
---

<ul class={cn('not-prose flex flex-wrap gap-2', className)} role="list">
  {
    links.map((link) => {
      const { href, ariaLabel, iconName } = getSocialLink(link)
      return (
        <li>
          <Button
            href={href}
            aria-label={ariaLabel}
            title={ariaLabel}
            variant="outline"
            size="icon"
            target="_blank"
          >
            <Icon name={iconName} class="size-4" />
          </Button>
        </li>
      )
    })
  }
</ul>
